body {
  padding: 0;
  margin: 0;
  height: 100%; }

.contact {
  padding: 4%;
  height: 400px; }

.top {
  padding: 0; }

.container-fluid {
  margin: 0;
  padding: 0;
  padding-right: 200px;
  padding-left: 300px;
  position: relative;
  padding-top: 20px;
  height: 620px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Raleway', sans-serif; }

.col1 {
  background: #2f2f2f;
  padding-left: 4%;
  width: 30%;
  height: 550px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: inline-block; }

.info {
  display: inline-block;
  color: white; }

.col2 {
  padding-right: 300px;
  width: 700px;
  padding-left: 10px;
  position: relative; }

.form-group {
  padding: 5px; }

.form-control {
  padding: 5px; }

.contact-info {
  margin-top: 10%; }

.block1 img {
  margin-bottom: 5%; }

.block1 h2 {
  margin-bottom: 10%; }

.contact-form label {
  font-weight: 600; }

input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px; }

#comment {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none; }

.btn3 {
  background-color: #054c8a;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 6px;
  width: 100%;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  color: white;
  background-size: 200%;
  transition: 0.8s; }
  .btn3:hover {
    background-position: right;
    color: white; }

.btn {
  background-color: #054c8a;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 6px;
  width: 250px;
  cursor: pointer;
  color: white;
  background-size: 200%;
  transition: 0.8s; }
  .btn:hover {
    background-position: right;
    color: white; }

.btn1 {
  background-image: linear-gradient(to left, #3d80c7, #044277, #3d80c7); }

@media (max-width: 480px) {
  footer {
    height: initial; } }
