body {
  max-width: 100vw;
  overflow: hidden auto; }

.container-fluid {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0; }

.tittle {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 25px 0;
  text-transform: uppercase;
  animation-name: opacity;
  animation-duration: 2s; }
  .tittle > h2 {
    margin: 0; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.row {
  margin: 0;
  padding: 0; }

.gradient {
  background: #b4bacd;
  background: radial-gradient(circle, #b4bacd 0%, #366873 100%); }

.services {
  margin: auto;
  padding: 30px;
  max-width: 1200px; }

.col-12.col-md-6 {
  margin-bottom: 30px; }

.card {
  height: 100%;
  margin-bottom: 1em; }

.card-body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card-body > a {
    width: fit-content; }
  .card-body li, .card-body p {
    font-family: 'Roboto Slab', serif; }
  .card-body p {
    font-weight: bold; }
  .card-body h3 {
    text-transform: uppercase; }

.services ul {
  list-style-type: circle; }

.btn {
  background-color: #054c8a;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-size: 200%;
  transition: 0.8s; }
  .btn:hover {
    background-position: right;
    color: white; }

.btn1 {
  background-image: linear-gradient(to left, #3d80c7, #044277, #3d80c7); }

.card-text {
  font-weight: 500; }

@media (max-width: 600px) and (min-width: 300px) {
  .block1 {
    height: 500px; } }

@media (max-width: 480px) {
  .services {
    display: flex;
    flex-direction: column; }
  .block1 {
    width: 100%;
    font-size: 2vw; }
    .block1 h1 {
      font-size: 4em;
      text-align: center;
      padding-left: 0;
      padding-right: 0; }
    .block1 h5 {
      font-size: 2.5em;
      padding: 0; }
  .block2.row {
    padding: 1em; }
    .block2.row h3 {
      padding: 0;
      font-size: 2em; }
  footer {
    height: initial; } }
