body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #2f2f2f;
    z-index: 1000;
}
.toplogo {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.logo {
    position: relative;
}
#logo {
    height: 80px;
    width: 90px;
    padding: 0;
    margin: 0;
    padding-left: 200px;
    padding-top: 10px;
    position: relative;
    box-sizing: initial;
}
.asidelogo {
    display: inline-block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    padding-left: 4px;
    padding-top: 27px;
    color: white;
}
#al1 {
    margin: 0;
}
#al2 {
    margin: 0;
}
.menu {
    font-weight: 200;
    margin: 0;
    list-style: none;
    padding: 25px 200px 15px 15px;
    text-align: right;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.menu ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}
.menu li {
    display: inline-block;
    padding: 10px;
    position: relative;
    color: white;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
footer {
    position: relative;
    background-color: #2f2f2f;
    width: 100%;
    height: 200px;
    color: white;
}
.down {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.downlogo {
    padding: 0;
    margin: 0;
    padding-top: 30px;
}
#logo2 {
    height: 110px;
    width: 110px;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.downinfo {
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-top: 0px;
    border-left: solid white;
}
.downinfo ul {
    list-style: none;
    line-height: 20px;
}
#rights {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    text-align: center;
    padding-right: 50px;
}
#mobile-menu-toggle {
    display: none;
}
@media (max-width: 1270px){
    #mobile-menu-toggle {
        display: initial;
        position: relative;
        ul {
            transition: opacity .3s ease, transform .3s ease;
            opacity: 0;
            // pointer-events: none;
            position: absolute;
            right: 0;
            background-color: #2f2f2f;
            transform: translateX(50vw);
        }
        &:focus {
            ul {
                transform: translateX(0);
                opacity: 1;
                pointer-events: all;
                &:focus {
                    pointer-events: all;
                }
            }
        }
    }
    #desktop-menu {
        display: none;
    }
    .menu {
        padding: 1em;
    }
}
@media (max-width: 480px){
    .main-container {
        overflow: hidden;
    }
    #logo {
        padding: 1em 0 1em 1em;
    }
    .top {
        height: initial;
    }
}