.container-fluid {
    position: relative;
    height: 100%;
    margin: 0; padding: 0;
}
.hero { 
    position: relative;
}
.row {
    width: 100%;
    padding: 0; margin: 0;
}
.background { 
    z-index: 0;
    background-image: url("imgs/back3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    opacity: 0.85;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.block1 {
    /*z-index: 3;*/
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //   opacity: 0.8;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    height: 670px;
    .card {
        position: sticky;
        background-color: #6c757daa;
    }
    h1 {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        padding-top: 20px;
        padding-right: 15px;
        font-size: 50px;
        font-weight: bolder;
    }
    h5 {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        padding-right: 15px;
        text-align: justify;
        padding-left: 200px;
        font-family: 'Roboto Slab', serif;
    }
    .btn {
        width: 190px;
    }
}

#asoc {
    font-size: 16px;
}
#ib13 {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: #ebece2;
    padding-right: 15px;
    padding-top: 10px;
}
.block2 {
    margin: 0;
    padding: 0;
    height: 150px;
    background-color: #2f2f2f;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
        padding: 0;
        margin: 0;
        padding-left: 200px;
        font-size: 42px;
        color: white;
    }
}
#block3 {
    background-color: #ebece2;
    font-family: 'Raleway', sans-serif;
    padding: 0; margin: 0;
    .card {
        border: none;
        background-color: #ebece2;
    }
    p {
        font-family: 'Roboto Slab', serif;
    }
}
.btn {
    background-color: #054c8a;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-size: 200%;
    transition: 0.8s;    
    &:hover {
        background-position: right;
        color: white;
    }
}
.btn1 {
    background-image: linear-gradient(to left,#3d80c7,#044277,#3d80c7);
}
#tittle {
    padding: 20px 0 20px 0; margin: 0;
    width: 100%;
    h2 {
        display: inline-block;
        text-align: center;
        padding: 7px;
        width: 350px;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
}
#block4 {
    position: relative;
    padding: 0; margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 100px;
}
@media (max-width: 600px) and (min-width: 300px) {
    .block1 {
        height: 500px;
    }

 }
@media (max-width: 480px){
    .block1 {
        width: 100%;
        font-size: 2vw;
        h1 {
            font-size: 4em;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
        h5 {
            font-size: 2.5em;
            padding: 0;
        }
    }
    .block2 {
        &.row {
            padding: 1em;
            h3 {
                padding: 0;
                font-size: 2em;
            }
        }
    }
    #block4, footer {
        height: initial;
    }
 }