html {
    scroll-behavior: smooth;
  }
.container-fluid {
    position: relative;
    height: 100%;
    margin: 0; padding: 0;
}
.tittleus {
    background-image: url("imgs/back2.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 670px;
}
.container {
    position: absolute;
    left: 50%; top:30%;
    transform: translate(-50%,-30%);
    text-align: center;
    animation-name: opacity;
    animation-duration: 2s;
}
@keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.btn {
    border: none;
    margin: 20px;
    padding: 24px;
    width: 400px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-size: 200%;
    transition: 0.8s;    
}
.btn1 {
    background-image: linear-gradient(to left,#3d80c7,#044277,#3d80c7);
}
.btn:hover {
    background-position: right;
    color: white;
}
#mobile-menu-toggle {
    background-color: #054c8a;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-size: 200%;
    transition: 0.8s;    
    &:hover {
        background-position: right;
        color: white;
    }
}

.block {
    display: flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    justify-content: center;
    background-color: black;
}
.block1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    color: white;
    width: 500px;
    .imgblock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 15px;
    }
    p {
        font-family: 'Roboto Slab', serif;
    }
}
#imgsvalue {
    background-color: white;
    border-radius: 100px;
    border-color: white;
    height: 100px;
    width: 100px;
    padding-top: 16px;
}
@media (max-width: 600px) and (min-width: 300px) {
    .block1 {
        height: 500px;
    }
 }
@media (max-width: 480px){
    .tittleus {
        height: 500px;
        background-position: cover;
    }
    .btn {
        width: 240px;
        font-size: 30px;
    }
    .block {
        display: flex;
        flex-direction: column;
        font-size: 5vw;
        position: relative;
        width: 100%;
    }
    .block1 {
        width: 300px;
        padding: 0;
        padding-top: 15px; padding-bottom: 15px;
        height: auto;
    }
    footer {
        height: initial;
    }
 }