body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.block1 {
    /* display: flex;
    justify-content: center; */
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, #607d8d, transparent)
}
.carousel {
    width: 100%;
}
.carousel-caption {
    font-family: 'Raleway', sans-serif; 
}
.block img {
    height: 457px;
}
#first {
    object-fit: center;
}
#second {
    object-fit: cover;
}