.container-fluid {
    position: relative;
    height: 100%;
    margin: 0; padding: 0;
}
.tittle {
    text-align: center;
    font-family:  'Raleway', sans-serif;
    height: 85px;
    padding-top: 25px;
    text-transform: uppercase;
    animation-name: opacity;
    animation-duration: 2s;
}
@keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.row {
    margin: 0;
    padding: 0;
}
.gradient {
    background: rgb(180,186,205);
    background: radial-gradient(circle, rgba(180,186,205,1) 0%, rgba(54,104,115,1) 100%);
}
.services {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.col-sm-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    .card-body {
        height: 550px;
        font-family:  'Raleway', sans-serif;
        li, p {
            font-family: 'Roboto Slab', serif;
        }
        p {
            font-weight: bold;
        }
        h3 {
            text-transform: uppercase;
        }
    }
}
.services ul {
    list-style-type: circle;
}
.btn {
    background-color: #054c8a;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-size: 200%;
    transition: 0.8s;    
    &:hover {
        background-position: right;
        color: white;
    }
}
.btn1 {
    background-image: linear-gradient(to left,#3d80c7,#044277,#3d80c7);
}
.card-text {
    font-weight: 500;
}
.card {
    min-height: 620px;
}
@media (max-width: 600px) and (min-width: 300px) {
    .block1 {
        height: 500px;
    }

 }
@media (max-width: 480px){
    .card {
        height: auto;
    }
    .services {
        display: flex;
        flex-direction: column;
    }
    .block1 {
        width: 100%;
        font-size: 2vw;
        h1 {
            font-size: 4em;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
        h5 {
            font-size: 2.5em;
            padding: 0;
        }
    }
    .block2 {
        &.row {
            padding: 1em;
            h3 {
                padding: 0;
                font-size: 2em;
            }
        }
    }
    footer {
        height: initial;
    }
 }